<template>
<div class="container-fluid">
    <b-card border-variant="info" header="Project" align="center">
        Sample size calculation is one of the fundamental components in designing clinical trials.
        <br>
        This project will assist researchers to figure out the sample size required for their study
         and fill a gap where online resource for designing SW CRT is currently lacking.
    </b-card>
        <br>
        <b-card border-variant="info" header="References" align="center">
            M. Hussey and J. Hughes. Design and analysis of stepped wedge cluster randomised trials.
            Contemporary Clinical Trials, 28:182–191, 2007.
            <br>
            Hughes, J. and Hakhu, N. (2018). Stepped Wedge Cluster Randomized Trial (SW CRT) Design.
             [online] Cran.r-project.org. Available 
             <a target="_" href="https://cran.r-project.org/web/packages/swCRTdesign/swCRTdesign.pdf">
             here</a>.
            <br>
            Baio, G. (2018). SWSamp: Simulation-based sample size calculations for a Stepped Wedge 
            Trial (and more). [online] Statistica.it. Available 
            <a target="_" href="http://www.statistica.it/gianluca/SWSamp/SWSamp.pdf">here</a>.
        </b-card>
        <br>
        <b-card border-variant="info" header="Feature request" align="center">
            Please send me any feature requests by <a href="mailto:mire.fukumoto@uq.net.au">email</a>.
        </b-card>
</div>
</template>
