<template>
<div class="container-fluid">
    <section-title icon="fas fa-users fa-1x" title="Design"></section-title>
    <div class="col-md-12 sub-section">
        <div class="row">
            <div class="col-md-5">
                <label class="inline-label">Number of waves 
                <tooltip id="numberOfWaves" icon="info" />
            </label>
                <NumberInputSpinner :min="0" :max="10" :integerOnly="true" v-model="waves"
                 @input="handleCluster" />
                <b-card sub-title="Number of clusters in each wave" v-if="waves > 0">
                    <div class="form-row">
                        <div class="col-md-2" v-for="index in wave" :key="index">
                            <input class="form-control" v-model="clusters[index-1]" type="number"
                    @input="handleCluster" min="1" step="1">
                </div>
                        </div>
                </b-card>
            </div>
            <div class="col-md-7">
                <LabelInput label="Treatment effect" v-model="treatmentEffect" 
                name="treatmentEffect">
                    <tooltip slot="tooltip" id="treatmentEffect" icon="question" />
                </LabelInput>
                <LabelInput label="Extra time" v-model="extraTime" name="extraTime">
                    <tooltip slot="tooltip" id="extraTime" icon="question" />
                </LabelInput>
                <div class="row item-group">
                    <label class="inline-label">All clusters receive control at time 0 
                    <tooltip id="timeZeros" icon="question" />
                </label>
                    <radio-switch :checked="checked"></radio-switch>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<style>
.sub-section {
    padding: 20px 0 0px 50px;
}

.vnis {
    display: inline-block;
    width: 150px !important;
    vertical-align: middle !important;
}

.vnis__button {
    background: #17a2b8 !important;
    height: 30px !important;
    width: 25px !important;
    font-size: 15px !important;
}

.vnis__input {
    height: 30px !important;
    font-size: 14px !important;
}

.card {
    margin: 20px
}

h3 {
    margin-bottom: 30px;
    margin-top: 30px;
}
</style>

<script>
import NumberInputSpinner from 'vue-number-input-spinner';
import LabelInput from "./LabelInput.vue";
import RadioSwitch from "./common/RadioSwitch.vue";
import SectionTitle from "./Title.vue";
import Tooltip from "./common/Tooltip.vue";

export default {
    components: {
        NumberInputSpinner,
        LabelInput,
        RadioSwitch,
        SectionTitle,
        Tooltip
    },
    data() {
        return {
            waves: 0,
            clusters: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
            treatmentEffect: 1,
            extraTime: 0,
            checked: true,
        }
    },
    computed: {
        wave() {
            return parseInt(this.waves)
        },
    },
    methods: {
        handleCluster: function () {
            Shiny.onInputChange("cluster", this.clusters.slice(0, this.waves));
        },
    }
}
</script>
