<template>
<div class="row item-group">
    <label class="inline-label">{{label}}
        <slot name="tooltip"></slot>
    </label>
    <input class="form-control inline-input" v-model="value" type="number" :name="name" />
</div>
</template>

<style>
.inline-label {
    margin: 0 20px;
    line-height: 30px;
    font-size: 18px;
    width: 50%;
}

.inline-input {
    width: 100px;
}

.item-group {
    margin: 0 0 20px 0px;
}
</style>

<script>
export default {
    props: {
        name: String,
        label: String,
        value: Number
    },
}
</script>
