<template>
<b-navbar toggleable="md" type="dark" variant="info" style="margin-bottom:20px;">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand>SW CRT Calculator</b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
            <b-nav-item>
                <router-link to="/power" tag="li">Power</router-link>
            </b-nav-item>
            <b-nav-item>
                <router-link to="/sample-size" tag="li">Sample size</router-link>
            </b-nav-item>
            <b-nav-item>
                <router-link to="/about" id="about" tag="li">About</router-link>
            </b-nav-item>
            <b-nav-item>
                <router-link to="/terminology" tag="li" id="terminology">Terminology
                </router-link>
            </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
            <b-nav-item>
                <a v-b-modal.modal1>Feature request</a>
            </b-nav-item>
            <b-modal id="modal1" title="Feature request" :hide-footer="true">
                <p>
                    Please send me any feature requests by
                    <a href="mailto:mire.fukumoto@uq.net.au">email</a>.
                </p>
            </b-modal>
        </b-navbar-nav>
    </b-collapse>
</b-navbar>
</template>

<style scoped>
a.nav-link {
    text-decoration: none;
    color: white !important;
    cursor: default;
}

a.nav-link:hover {
    opacity: 0.8;
}

a.nav-link>li {
    cursor: pointer;
}

li.router-link-active {
    border-bottom: 2px solid yellow;
    font-weight: bold;
}
</style>
