<template>
<div class="container-fluid">
    <section-title icon="fas fa-calculator fa-1x" title="Parameters"></section-title>
    <div class="col-md-12 sub-section">
        <div class="row">
            <div class="col-md-5">
                <div class="row item-group">
                    <label class="inline-label">Family</label>
                    <basic-select name="family" :items="options" v-model="family"></basic-select>
                </div>
                <LabelInput label="Sigma" name="sigma" v-model="d">
                    <tooltip slot="tooltip" id="sigma" icon="info" />
                </LabelInput>
                <LabelInput label="Number of observation" name="observation" v-model="observation">
                    <tooltip slot="tooltip" id="observation" icon="info" />
                </LabelInput>
                <LabelInput label="Significance level" v-model="significance" name="significance" />
            </div>
            <div class="col-md-7">
                <LabelInput label="Mean (outcome) in the control group" name="mu0" v-model="a" />
                <LabelInput label="Mean (outcome) in the intervention group" name="mu1" v-model="b" />
                <LabelInput label="Standard deviation of random intercepts" name="tau" v-model="a" />
                <LabelInput label="Standard deviation of random treatment effects" name="eta" v-model="a" />
                <LabelInput label="Intra-class correlation coefficient" name="rho" v-model="rho">
                    <tooltip slot="tooltip" id="ICC" icon="question" />
                </LabelInput>
            </div>
        </div>
    </div>
    <hr class="divider" />
</div>
</template>

<style>
.divider {
    border-top: 1px dotted #17a2b8
}
</style>

<script>
import LabelInput from "./LabelInput.vue";
import SectionTitle from "./Title.vue";
import BasicSelect from "./common/BasicSelect.vue"
import Tooltip from "./common/Tooltip.vue";

export default {
    components: {
        LabelInput,
        SectionTitle,
        BasicSelect,
        Tooltip
    },
    data() {
        return {
            options: ["Binominal", "Gaussian"],
            rho: 0,
            significance: 0.05,
            observation: 120,
            a: 0.05,
            b: 0,
            c: 12,
            d: 1,
            family: "Binominal"
        }
    },
    computed: {
        wave() {
            return parseInt(this.w)
        },
    },
}
</script>
