<template>
<div>
    <design />
    <parameters />
    <results :result="result" />
</div>
</template>

<style>
.shiny-plot-output.shiny-bound-output.shiny-output-error {
    width: 100%;
    height: 0px !important;
}

#plot {
    width: 100%;
    height: 400px !important;
}

input.form-control:focus,
select.form-control:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.shiny-output-error {
    visibility: hidden;
}

.container-fluid {
    padding: 0 40px 0 40px;
}
</style>

<script>
import Design from "./Design.vue";
import Parameters from "./Parameters.vue";
import Results from "./Results.vue";

export default {
    components: {
        Design,
        Parameters,
        Results,
    },
    methods: {
        setSummary: function (data) {
            this.result = data;
        }
    },
    data() {
        return {
            result: {},
            input: "test",
            modalShow: true
        }
    },
    mounted() {
        Shiny.addCustomMessageHandler("PowerSummary", this.setSummary);
        Shiny.onInputChange("timeZero", true);
    },
}
</script>
