<template>
<div class="container-fluid">
    <section-title icon="fas fa-chart-bar fa-1x" title="Results"></section-title>
    <b-card class="output" id="output">
        <div class="row">
            <div class="col-md-6 no-padding-right">
                <b-card border-variant="info" bg-variant="info" header="Power" text-variant="white" 
                align="center">
                    <div id="power" class="shiny-text-output"></div>
                </b-card>
                <b-card border-variant="info" header="Summary" header-bg-variant="info" 
                header-text-variant="white" align="center">
                    <p class="card-text">Design</p>
                    <b-table stacked :items="designItems"></b-table>
                    <p class="card-text">Parameters</p>
                    <b-table stacked :items="parameterItems"></b-table>
                </b-card>
            </div>
            <div class="col-md-6 no-padding-left">
                <b-card border-variant="info" class="no-padding">
                    <b-form-textarea v-model="text" class="no-border" :rows="6" plaintext 
                    :max-rows="6">
                    </b-form-textarea>
                </b-card>
                <b-card border-variant="info" header="Plot of Mean Response/Outcome" align="center">
                    <div v-show="showPlot" id="plot" class="shiny-plot-output"></div>
                    <div v-show="!showPlot">
                        Plot is only available when all clusters are set to receive control at time 0.
                    </div>
                </b-card>
                <b-card border-variant="info" header="Design matrix" align="center">
                    <div id="design" class="shiny-html-output"></div>
                </b-card>
            </div>
        </div>
    </b-card>
    <save-button></save-button>
</div>
</template>

<style>
.shiny-text-output {
    font-size: 18px;
    font-weight: bold;
}

.power {
    font-size: x-large;
}

.no-padding>.card-body {
    padding: 0 !important;
}

.no-border {
    border: 0px;
}

textarea.form-control {
    height: 250px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}
</style>

<script>
import SectionTitle from "./Title.vue";
import SaveButton from "./common/SaveButton.vue";

export default {
    components: {
        SectionTitle,
        SaveButton
    },
    props: {
        result: Object,
    },
    computed: {
        designItems() {
            let item = {}
            item["Number of waves"] = this.result["n.waves"]
            item["Total number of clusters"] = this.result["n.clusters"]
            item["Treatment effect"] = this.result["tx.effect"]
            item["Total time points"] = this.result["total.time"]
            item["Extra time"] = this.result["extra.time"]
            item["All clusters recieve control at time 0"] = this.result.timeZero === undefined ?
                true : this.result.timeZero;
            return [item]
        },
        parameterItems() {
            let item = {}
            item["Distribution"] = this.result.f;
            item["Sigma"] = this.result.sigma;
            item["Number of obsercation"] = this.result.n;
            item["Significance level"] = this.result.alpha
            item["Mean in the controls"] = this.result.mu0;
            item["Mean in the internventions"] = this.result.mu1;
            item["Standard deviation of random intercepts"] = this.result.eta;
            item["ICC"] = this.result.rho;
            return [item]
        },
        showPlot() {
            return this.result.timeZero === undefined ? true : this.result.timeZero;
        }
    },
    data() {
        return {
            text: `The power of treatment effect for the specified SW CRT design is calculated by using weighted least squares (WLS) approach when both random intercepts and random treatment effects are set. If random treatment effects are null, then the power is calculated based on the closed-form formula of Hussy and Hughes (2017)*.`
        }
    },
}
</script>
