<template>
<div class="container-fluid">
    <section-title icon="fas fa-chart-bar fa-1x" title="Results"></section-title>
    <b-card class="output" id="output">
        <div class="row">
            <div class="col-md-6 no-padding-right">
                <b-card border-variant="info" header="Summary" header-bg-variant="info" 
                header-text-variant="white" align="center">
                    <p class="card-text">Suggested design (cross-sectional)</p>
                    <b-table stacked :items="designItems"></b-table>
                    <p class="card-text">Calculation parameters</p>
                    <b-table stacked :items="parameterItems"></b-table>
                </b-card>
                <b-card border-variant="info" bg-variant="info" header="Power" text-variant="white" 
                align="center">
                    <div id="calculatedPower" class="shiny-html-output"></div>
                </b-card>
            </div>
            <div class="col-md-6 no-padding-left">
                <b-card border-variant="info" class="no-padding">
                    <b-form-textarea v-model="text" class="no-border" :rows="6" plaintext 
                    :max-rows="6">
                    </b-form-textarea>
                </b-card>
                <b-card border-variant="info" header="Design matrix" align="center">
                    <div id="designMatrix" class="shiny-html-output"></div>
                </b-card>
            </div>
        </div>
    </b-card>
    <save-button></save-button>
</div>
</template>

<script>
import SectionTitle from "./Title.vue";
import SaveButton from "./common/SaveButton.vue";

export default {
    components: {
        SectionTitle,
        SaveButton
    },
    props: {
        result: Object
    },
    computed: {
        designItems() {
            let item = {}
            item["Number of clusters"] = this.result.n;
            item["Number of time points"] = this.result.J;
            item["Average cluster size"] = this.result.K;
            item["The total number of participants required"] = this.result.subjects;
            return [item]
        },
        parameterItems() {
            let item = {}
            item["Outcome type"] = this.result.outcome;
            if (this.result.outcome === "Normal") {
                item["Mean outcome in the control group"] = this.result.mu;
                item["Pooled standard deviation"] = this.result.sd;
                item["Treatment effect"] = this.result.trt;
            }
            if (this.result.outcome === "Binary") {
                item["Baseline probability of outcome"] = this.result.p1;
                item["Odds Ratio"] = this.result.OR;
            }
            if (this.result.outcome === "Count") {
                item["Baseline rate of outcome"] = this.result.r1;
                item["Relative risk"] = this.result.RR;
            }
            item["Significance level"] = this.result.sigLevel;
            item["ICC"] = this.result.rho;
            return [item]
        },
        text() {
            return `The sample size calculation is based on the analytic formulae Hussey and Hughes (2007)*. \n\nA total of ${this.result.subjects} participants are required for a stepped wedge design with cross-sectional data assuming ${this.result.n} clusters, ${this.result.J} crossover points and an average cluster size of ${this.result.K} participants.`
        }
    }
}
</script>
