<template>
<div class="container-fluid">
    <section-title icon="fas fa-calculator fa-1x" title="Parameters"></section-title>
    <div class="col-md-12 sub-section">
        <div class="row">
            <div class="col-md-6">
                <div class="row item-group">
                    <label class="inline-label">Outcome type</label>
                    <basic-select name="outcome" :items="options" v-model="outcomeType" />
                </div>
                <div v-show="isNormal">
                    <LabelInput label="Treatment effect" name="trt" v-model="trt">
                        <tooltip slot="tooltip" id="treatmentEffect" icon="question" />
                    </LabelInput>
                    <LabelInput label="Pooled standard deviation" name="sd" v-model="sd">
                        <tooltip slot="tooltip" id="pooled" icon="question" />
                    </LabelInput>
                    <LabelInput label="Mean (outcome) in the control group" name="mu" v-model="mu" />
                </div>
                <div v-show="isBinary">
                    <LabelInput label="Baseline probability of outcome" v-model="p1" name="p1" />
                    <LabelInput label="Odds Ratio" v-model="OR" name="OR" />
                </div>
                <div v-show="isCount">
                    <LabelInput label="Baseline rate of outcome" v-model="r1" name="r1" />
                    <LabelInput label="Relative risk" v-model="RR" name="RR" />>
                </div>
                <LabelInput label="Target power" v-model="power" name="targetPower">
                    <tooltip slot="tooltip" id="targetPower" icon="info" />
                </LabelInput>
            </div>
            <div class="col-md-6">
                <LabelInput label="Average cluster size" v-model="clusterSize" name="K" />
                <LabelInput label="Number of time points" v-model="numberOfPoints" name="J">
                    <tooltip slot="tooltip" id="timePoints" icon="info" />
                </LabelInput>
                <LabelInput label="Intra-class correlation coefficient" name="rho" v-model="rho">
                    <tooltip slot="tooltip" id="ICC" icon="question" />
                </LabelInput>
                <LabelInput label="Significance level" name="sigLevel" v-model="significance" />
            </div>
        </div>
    </div>
    <hr class="divider" />
</div>
</template>

<style>
.divider {
    border-top: 1px dotted #17a2b8
}

h3 {
    margin-bottom: 40px;
    margin-top: 30px;
}
</style>

<script>
import LabelInput from "./LabelInput.vue";
import SectionTitle from "./Title.vue";
import BasicSelect from "./common/BasicSelect.vue"
import Tooltip from "./common/Tooltip.vue";

export default {
    components: {
        LabelInput,
        SectionTitle,
        BasicSelect,
        Tooltip
    },
    data() {
        return {
            options: ["Normal", "Binary", "Count"],
            rho: 0,
            significance: 0.05,
            sd: 1.3,
            mu: 0.05,
            r1: 0.5,
            RR: 0.87,
            trt: 1,
            outcomeType: "Normal",
            p1: 0.345,
            OR: 0.55,
            clusterSize: 10,
            numberOfPoints: 5,
            baselineMeasurement: 1,
            measurement: 1,
            power: 0.90
        }
    },
    computed: {
        wave() {
            return parseInt(this.w)
        },
        isNormal() {
            return this.outcomeType === "Normal"
        },
        isBinary() {
            return this.outcomeType === "Binary"
        },
        isCount() {
            return this.outcomeType === "Count"
        }
    },
}
</script>
