<template>
<div>
    <parameters />
    <results :result="result" />
</div>
</template>

<style>
.shiny-plot-output.shiny-bound-output.shiny-output-error {
    width: 100%;
    height: 0px !important;
}

#plot {
    width: 100%;
    height: 400px !important;
}

input.form-control:focus,
select.form-control:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.shiny-output-error {
    visibility: hidden;
}

.container-fluid {
    padding: 0 40px 0 40px;
}
</style>

<script>
import Parameters from "./SampleSizeParameters.vue";
import Results from "./SampleSizeResult.vue";

export default {
    components: {
        Parameters,
        Results
    },
    methods: {
        prepareSummary: function (data) {
            this.result = data;
        }
    },
    data() {
        return {
            result: {}
        }
    },
    mounted() {
        Shiny.addCustomMessageHandler("SampleSizeSummary", this.prepareSummary);
    }
}
</script>
