<template>
<div class="container-fluid">
    <basic-select :options="options" :selected-option="item" placeholder="Search..."
     @select="onSelect" class="searchbar">
    </basic-select>
    <b-card no-body class="margin-top">
        <b-tabs pills card vertical nav-wrapper-class="col-4" v-model="tabIndex">
            <b-tab v-for="(item, index) in terminologies" :key="index" :title="item.title">
                <div style="white-space: pre-line;">
                    {{item.content}}</div>
            </b-tab>
        </b-tabs>
    </b-card>

</div>
</template>

<style>
.margin-top {
    margin-top: 20px;
}

.searchbar {
    width: 30% !important;
    margin-left: auto;
    margin-right: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #17a2b8;
}

a.nav-link {
    color: #17a2b8;
}
</style>

<script>
import NavMenu from "./Navbar.vue";
import {
    BasicSelect
} from 'vue-search-select';
import {
    terminologies
} from "./../constants.js";

export default {
    name: "Terminology",
    components: {
        NavMenu,
        BasicSelect
    },
    data() {
        return {
            item: {},
            terminologies: terminologies,
            tabIndex: 0
        }
    },
    computed: {
        options() {
            return this.terminologies.map((x, index) => {
                return {
                    value: index,
                    text: x.title
                };
            })
        },
        param() {
            return this.$route.params.id
        }
    },
    watch: {
        param() {
            if (!this.param) {
                return;
            }
            this.tabIndex = parseInt(this.param);
            this.item = {};
        }
    },
    methods: {
        onSelect(item) {
            this.item = item;
            this.tabIndex = item.value;
        },
    },
}
</script>
