<template>
<div class="col-md-12">
    <h3><span><i :class="icon" class="right-margin"></i>{{title}}</span></h3>
</div>
</template>

<style>
.right-margin {
    margin: 0 15px 0 0;
    color: #17a2b8
}

h3 {
    color: #17a2b8;
}
</style>

<script>
export default {
    props: {
        icon: String,
        title: String
    }
}
</script>
