<template>
<select class="form-control inline-select" :name="name" v-bind:value="value"
   v-on:input="$emit('input', $event.target.value)">
    <option v-for="(item, index) in items" :key="index">{{item}}</option>
  </select>
</template>

<style>
.inline-select {
    display: inline-block;
    width: 200px;
}
</style>

<script>
export default {
    props: {
        items: Array,
        name: String,
        value: String
    }
}
</script>
