<template>
<label class="switch">
  <input type="checkbox" :checked="checked" v-on:click="handleChange">
  <span class="slider round"></span>
</label>
</template>

<style>
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #17a2b8;
}

input:focus+.slider {
    box-shadow: 0 0 1px #17a2b8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
</style>

<script>
export default {
    props: {
        checked: Boolean,
    },
    methods: {
        handleChange: function (event, data) {
            Shiny.onInputChange("timeZero", event.target.checked);
        }
    }
};
</script>
