<template>
<b-button id="download" v-on:click="handleCapture">
    <i class="fa fa-download" aria-hidden="true"></i>
    Save results
</b-button>
</template>

<style scoped>
.btn-secondary {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 150px;
    float: right;
    color: white;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    margin-top: 20px;
}
</style>

<script>
import html2canvas from "html2canvas";

export default {
    methods: {
        handleCapture: function () {
            html2canvas(document.querySelector('#output'))
                .then(function (canvas) {
                    var uri = canvas.toDataURL()
                    var filename = prompt("Please enter filename", "result");
                    var link = document.createElement('a');
                    if (typeof link.download === 'string') {
                        link.href = uri;
                        link.download = filename;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    } else {
                        window.open(uri);
                    }
                });
        },
    }
}
</script>
