<template>
<span :id="id" class="custom-tooltip">
        <i :class="iconClass" aria-hidden="true"></i>  
        <b-tooltip ref="tooltip" :target="id" v-on:hide="keepOpened" :delay="delay">
        <span class="close-icon" v-on:click="close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
<div class="content">
    {{this.contents}}
    <router-link v-if="extended" class="test" :to="link">Read more</router-link>
</div>
</b-tooltip>
</span>
</template>

<style>
.close-icon {
    float: right;
}

.content {
    padding: 10px;
}

.custom-tooltip {
    float: right;
}
</style>

<script>
import {
    tooltips,
    terminologies
} from "./../../constants.js"

export default {
    props: {
        id: String,
        content: String,
        icon: String
    },
    data() {
        return {
            show: true,
            delay: 300,
        }
    },
    computed: {
        iconClass() {
            return `fa fa-${this.icon}-circle`
        },
        contents() {
            return tooltips[this.id];
        },
        link() {
            let tabIndex = terminologies.findIndex(x => x.reference.includes(this.id));
            if (tabIndex < 0) {
                return ""
            }
            return "/terminology/" + tabIndex;
        },
        extended() {
            return this.link.length > 0;
        }
    },
    methods: {
        keepOpened: function (e) {
            if (this.show) {
                e.preventDefault();
            }
        },
        close: function () {
            this.show = false;
            this.$refs.tooltip.$emit('close');
            this.show = true;
        }

    }
}
</script>
