<template>
<div>
    <nav-menu />
    <keep-alive>
        <router-view></router-view>
    </keep-alive>
</div>
</template>

<script>
import NavMenu from "./components/Navbar.vue";

export default {
    components: {
        NavMenu,
    },
}
</script>
